<div class="image-container">
    <img class="image-container-img" [src] = "item().image.desktop"  [alt]= "item().name" />
    @if(isInCart()){
        <div class="toggle-button">
            <img (click) = "decreateItem(item().id)" src="./assets/images/icon-decrement-quantity.svg" alt="decrement icon">
            <span>{{itemQuantity()}}</span>
            <img (click) = "addItem(item().id)" src="./assets/images/icon-increment-quantity.svg" alt="increment icon">
        </div>
    }@else{
        <button (click) = "addItem(item().id)">
            <img class="btn-with-icon" src="./assets/images/icon-add-to-cart.svg" alt="Add to cart icon" />
            <span>Add to Cart</span>
        </button>
    }
</div>

<div>
    <p class="menu-category">{{item().category}}</p>
    <p class="menu-name">{{item().name}}</p>
    <p class="menu-price">${{item().price}}</p>
</div>
