.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.section-container{
    height: 100%;
    width: 100%;
    background-color: var(--color-rose-100);
    min-width: 212px;
}

.content-container{
    margin-left: clamp(1rem, -2.2857rem + 16.4286vw, 12.5rem);
    margin-right: clamp(1rem, -2.2857rem + 16.4286vw, 12.5rem);
    margin-top: clamp(1.5rem, 0.1429rem + 6.7857vw, 6.25rem);
    height: 100%;
}

.menu-container{
    flex: 3;
    max-width: 760px;
}

.cart-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: .5rem;
    height: fit-content;
    position: sticky;
    top: 10px;
    margin-top: 20px;
    background-color: var(--color-rose-50);
}


@media(min-width: 800px){
    .content-container{
        display: flex;
        flex-wrap: wrap;
    }

    .cart-container{
        margin-top: 0;
        margin-left: 20px;
        min-width: 20rem;
    }
}
