.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(350px, 100vw, 100%);
    /* background-color: var(--color-rose-100); */
    padding: 5rem
}

.section-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1100px;
    height: 100%;
}

.menu-container{
    flex: 7;
    padding: 0 1rem;
}

.cart-container{
    flex: 3;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: .5rem;
    height: fit-content;
    position: sticky;
    top: 10px;
}


@media(max-width: 530px){
    .main-container{
        padding: 0;
    }
}
