h2{
    font-size: 2.5rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-rose-900);
    margin-bottom: 2rem;
}

.desserts-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 20px;
}


/* @media (min-width: 1000px){
    .desserts-container{
        grid-template-columns: repeat(3, 1fr);
    }
} */